 .my-desc{
    display: flex;
    /* justify-content: center; */
    height: 500px;
    margin: 5px 30px 20px 30px;

}

.my-desc__about h2{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: 
    typing 4s steps(40, end) forwards,
    blink .8s infinite;
}

.typed-out{
    display: inline-block;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
  }
  

.profession, .passion{
    display: flex;
    height: 350px;
    margin: 10px 30px;
}

.my-desc__photo {
    width: 50%;
    /* object-fit:contain; */
    /* height: 400px; */
}

.profession__image, .passion__image{
    /* width: 50%; */
    padding: 10px 30px 10px 30px;
}

.my-desc__photo img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.profession__image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.passion__image img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.my-desc__about, .profession__about,.passion__about{
    background-color: white;
    padding: 0 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}


.about__heading, .contact__heading{
    margin-top: 50px;
    margin-bottom: 50px;
}

.about__heading h1{
    width: 30%;
    margin: auto;
    color: #00203FFF;
    text-align: center;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 12.2px;
}

.contact__heading h1{
    width: 60%;
    margin: auto;
    color: #00203FFF;
    text-align: center;
} 

.about{
    margin-top: 60px;
    margin-bottom: 60px;
}

.about p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.my-desc__about__text p{
    /* margin: auto; */
    /* position: absolute; */
    /* transform: translate(0, -50%); */
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

@media only screen and (max-width: 900px) {
    .my-desc, .profession{
        display: block;
        height:auto
    }

    .passion{
        display: block;
        height:auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .my-desc__about,.profession__about,.passion__about{
        width: 100%;
        margin: auto;
        padding: 0px;
    }

    .my-desc__photo img{
        width: 100%;

    }

    .my-desc__photo{
        width: 100%;
        background-color:#00203FFF
        }

    .passion__image img{
        /* width: 50%; */
        margin: auto;
    }
/* 
    .my-desc__photo, .profession__image,.passion__image {
        width: 100%;
    } */

   .actual-form{
    width: 100%;
    margin: auto;
   }

   .contact__heading h1{
    width: 100%;
    text-align: center;
   }
   .about__heading h1{
    width: 100%;
    text-align: center;
   }
}

.contact-form{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 13px;
}

.actual-form{
    border-radius: 13px;
    width: 60%;
    margin: auto;
    display: flex; 
    flex-direction: column;
    background-color:darkseagreen;
    padding: 25px;
 
}

.actual-form textarea{
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    height: 60px;
    /* background-color: aqua; */
}

.actual-form input{
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    height: 40px;
    /* background-color: aqua; */
}

.actual-form button{
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #00203FFF;
    border-style: none;
    color: #ADEFD1FF;
    font-size: 1.5rem;
}